/*
* Coupon Creator CSS
* @version 1.90
*/

/* Coupon Creator CSS
------------------------------------------------------------ */
.cctor_coupon_container {
	width: 317px;
	margin: 10px 10px 15px;
	overflow:hidden;
	text-align: center;
	max-width:100%;
}
.cctor_coupon_container.cctor-image {
	width: auto;
}
.cctor_coupon_container, .cctor_coupon_container * {
   -moz-box-sizing:    border-box;   /* Firefox 1 */
   -webkit-box-sizing: border-box;   /* Safari 3-4 */
    box-sizing:        border-box;   /* Everything else */
	-webkit-print-color-adjust: exact; 
	print-color-adjust: exact;
}

/* Coupon Contents
------------------------------------------------------------ */
.cctor_coupon {
	width:100%;
	padding:5px;
	border: 3px dashed black;
}
.cctor_coupon_image {
	padding:1%;
	border: 3px dashed black;
	max-width: 100%;
	height: auto;
}
.cctor_coupon_content {
	position:relative;
	width:100%;
	border: 2px solid #0030ff;
	background: #fff;
}
.cctor_coupon_content h3 {
	width: 100%;
	min-height: 45px;
	padding:2%;
	margin: 0px;
	background: #ffa300;
	font-size:24px;
	font-weight:bold;
	color: #000;
}
.cctor_deal {
	width:100%;
	min-height: 90px;
	padding: 2% 3%;
	line-height:18px;
	font-size:14px;
	font-weight:bold;
	color: #000;
}
.cctor_deal img {
	max-width:100%;
}
.cctor_expiration  {
	width:100%;
	min-height: 15px;
	font-size:10px;
	font-weight:bold;
}
.cctor_opencoupon  {
	width:100%;
	height:20px;
	margin-top: 2px;
	font-size:14px;
	line-height: 20px;
}

/* Coupon CSS Adjustments
------------------------------------------------------------ */
.cctor_coupon_container a:hover {
	text-decoration: none;
	opacity: .8;
}
.print_coupon .cctor_coupon_container a:hover {
	opacity: 1;
}
a .cctor_expiration {
	color: #000;
}
.cctor_deal p {
	margin: 0;
}

/* Coupon Align
------------------------------------------------------------ */
.cctor_alignnone {
	display: inline-block;
	margin: 0 0 10px;
}
.cctor_alignleft {
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
}
.cctor_alignright {
	float: right;
	display: inline;
	margin: 0 0 10px 10px;
}
.cctor_aligncenter {
	display: block;
	margin: 10px auto;
}
/* Print View CSS
------------------------------------------------------------ */
.print_coupon .cctor_coupon_container {
	width: 420px;
	margin: 10px auto;
}
.print_coupon .cctor_coupon_container.cctor-image {
	width: auto;
}
.print_coupon .cctor_coupon_content h3 {
	font-size:30px;
}
.print_coupon .cctor_deal {
	font-size:  20px;
	line-height: 22px;
	min-height: 150px;
}
@media print {
.cctor_opencoupon {
	display:none !important;
	}
}
/* Basic IE7 Support
------------------------------------------------------------ */
.cctor_coupon {
	*width:300px;
}
.cctor_coupon_content h3,
.cctor_deal ,
.cctor_expiration {
	*width: 96%;
}