@import "mixins/neat/app/assets/stylesheets/neat-helpers";

$max-width: 1200px !global;

$mobile-max: 639px;
$tablet-min: 640px;
$tablet-medium: 768px;
$tablet-max: 979px;

$desktop-min: 980px;
$desktop-medium-max:  1023px;
$desktop-large-min: 1024px;
$desktop-large-max: 1215px;

$mobile-min: new-breakpoint(max-width 480px 4);
$mobile: new-breakpoint(max-width 639px 4);
$tablet: new-breakpoint(max-width $tablet-medium);
$desktop: new-breakpoint(max-width $desktop-medium-max);
$desktop-large: new-breakpoint(max-width $desktop-large-max);

