/* ==========================================================================
   Fields CSS
   ========================================================================== */

/**
* All Fields
***************************************************/
.promote-sup {
	color: $darkred;
}
.pngx-meta-fields-wrap.lower-third-fields .pngx-meta-field .pngx-meta-field-styles {
	display: none;
}
/**
* Image Coupon
***************************************************/
#cctor_image.pngx-default-image,
#cctor_image.pngx-image {
	border: 3px dashed #000000;
}

/**
* Pro Marketing
***************************************************/
.cctor-pro-img {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	height: auto;
	margin: 1% 0 2.5% 7%;
	max-width: 90%;
	position: relative;
}

.cctor-pro-img:before, .cctor-pro-img:after {
	border-radius: 100px / 10px;
	-moz-border-radius: 100px / 10px;
	bottom: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	content: "";
	left: 10px;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: -1;
}

.cctor-pro-img:after {
	left: auto;
	right: 10px;
	transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	-webkit-transform: skew(8deg) rotate(3deg);
}

/**
* Pro Links
***************************************************/
div.cctor-pro-link {
	margin: 0;

	a {
		color: $darkred;
		text-decoration: underline;

		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
}
.pngx-wrapper {
	div.cctor-pro-link {
		margin: -20px 0 0;
	}
}
/**
* WooCommerce
***************************************************/
.field-wrap-woocoupon .cctor-meta-label,
.field-wrap-woocoupon .cctor-meta-field {
	width: 100%;
}

.ajax_chosen_select_products_and_variations.cctor_woo_field {
	width: 50%;
}

.cctor-woo-send-buttons {
	margin-bottom: 15px;
}

#cctor_woocommerce hr,
#cctor_woocommerce h2,
.postbox #cctor_woocommerce h4.pngx-fields-heading {
	color: #a46497;
}

#cctor_woo_options textarea {
	width: 100%;
}

#cctor_woo_submit {
	margin-top: 30px;
}

#cctor_woocommerce label {
	width: 160px;
	display: inline-block;
	@include breakpoint_max('sm') {
		width: 100%;
	}
}

#cctor_woocommerce .form-field input[type="number"],
#cctor_woocommerce .form-field input[type="text"] {
	width: 270px;
	max-width: 100%;
	@include  breakpoint_max('sm') {
		width: 100%;
	}
}

#cctor_woocommerce .form-field input[type="email"]{
	max-width: 50%;
	@include breakpoint_max('sm') {
		max-width: 100%;
	}
}

#cctor_woocommerce .form-field .chosen-container-multi input[type="text"] {
	max-width: 100%;
	min-width: 100px;
}

#cctor_woocommerce .select2-container.cctor_woo_field {
	width: 50%;
	display: inline-block !important;
}

/**
* Wysiwyg
***************************************************/
.cctor-column-row-insert,
#wp-cctor_description-wrap {
	width: 600px;
	max-width: 100%;
	overflow: hidden;
}

.cctor-column-row-insert {
	margin: 15px 0;
}

.cctor-column-row-insert .cctor-content-column-row {
	width: 46%;
	float: left;
}

.cctor_button {
	border-radius: 6px;
	border: solid 1px #9dd3df;
	background: #2a5a8a;
	padding: 3px 1%;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

.ui-widget-content a.cctor_button {
	color: #fff;
}

.cctor_button:hover,
.ui-widget-content a.cctor_button:hover {
	color: #000;
	border: solid 1px #2a5a8a;
	background: #9dd3df;
}

.cctor-column-row-insert select {
	width: 48%;
	float: right;
}

/**
* Dynamic Code
***************************************************/
.cctor-add-ons-dynamic-code {
	text-align: center;
	font-size: 18px;
	padding: 5px 0 30px;
	color: #048C7F;
}
.cctor-add-ons-dynamic-code span {
	font-size: 13px;
}