/* ==========================================================================
   Help CSS
   ========================================================================== */
.coupon.pngx-section-help-container {
	background-color: $blue;

	.pngx-section-help-container-toggle {
		background-color: $blue;
	}

	.pngx-section-help-container:hover,
	.pngx-section-help-container-toggle:hover {
		background: $color__light_blue none repeat scroll 0 0;
		border: 1px solid $blue;
		color: $black;
	}

	.pngx-section-help-slideout {
		border: 1px solid $blue;
	}
	.ui-widget-content a.pngx-support,
	.pngx-support {
		color: $blue;
	}

	.ui-widget-content a.pngx-support:hover,
	.pngx-support:hover {
		color: $color__light_blue;
	}

	.pngx-help-images {
		box-shadow: 0 1px 2px 0 $green;
	}
}