/* ==========================================================================
   Meta Box CSS
   ========================================================================== */
#coupon_creator_pro_meta_box h2,
#cctor_coupon_categorydiv h2,
#coupon_creator_shortcode h2,
#coupon_creator_meta_box h2 {
	color: $blue;
	font: italic 20px/30px Georgia, Times, serif;
	margin: 0;
	padding: 0 0 5px 10px;
	text-shadow: 0 1px 0 #fff;
}

.postbox h4.pngx-fields-heading {
	color: $green;
}

/* ==========================================================================
   Meta Box
   ========================================================================== */

.postbox-container {


	.pngx-meta-field {

		&.field-checkbox,
		&.field-color,
		&.field-date,
		&.field-image,
		&.field-number,
		&.field-select,
		&.field-text,
		&.field-url,
		&.field-variety,
		&.field-wysiwyg {

			& > label {
				color: $blue;
			}

		}
	}
}
