/* ==========================================================================
   Options CSS
   ========================================================================== */
.cctor_coupon_page_coupon-options input.regular-text {
	width: auto;
}

.cctor_coupon_page_coupon-options p.submit {
	overflow: hidden;
}

.cctor_coupon_page_coupon-options.wp-core-ui .button-primary {
	float: right;
}

/*hides empty row and support label*/
#help .form-table th,
.form-table tr > *:empty {
	display: none;
}

/* License Button
------------------------------------------------------------ */
.cctor-license-button-act {
	background: $blue;
	border: 1px solid $blue;
	color: $white;
}

.cctor-license-button-act:hover {
	background: #1e4164;
	cursor: pointer;
}

.cctor-license-button-det {
	background: $green;
	border: 1px solid $green;
	color: $white;
}

.cctor-license-button-det:hover {
	background: $blue;
	cursor: pointer;
}

/* Options Sign Up Form / Promo Boxes
----------------------------------------------------------- */
#pro.cctor-tabs-panel h3:first-child {
	display: none !important;
}

#pro.cctor-tabs-panel ul {
	list-style-type: disc;
}

#pro.cctor-tabs-panel li {
	font-size: 14px;
	margin-left: 20px;
	padding-left: 5px;
}

.cctor-promo-boxes {
	clear: none;
	float: left;
	margin: 0 1%;
	overflow: hidden;
	width: 44%;
}

.cctor_coupon_page_coupon-options #mc_embed_signup h3 {
	margin: 0 0 10px;
}

.mc-field-group {
	float: left;
	width: 192px;
}

#mc-embedded-subscribe {
	background: $darkred;
	border: 1px solid $alert;
	box-shadow: none;
	color: #fff;
	float: left;
	font-weight: 700;
}

#mc-embedded-subscribe:hover {
	background: $alert;
}
@media only screen and (max-width: 640px) {

	.cctor-promo-boxes h3,
	.cctor-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
		margin: 0;
	}
	.cctor-promo-boxes {
		width: 94%;
		float: none;
		margin: 2% 1%;
	}
}
/* Pro CSS
----------------------------------------------------------- */
.cctor_coupon_image.cctor_coupon_box_img,
.cctor_coupon_box {
	width: 200px;
	height: auto;
	padding: 20px 5px;
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 16px;
}
.create-shortcode {
	display: inline-block;
	margin: 10px 0;
	padding: 3px 5px;
}