/* Coupon Align
------------------------------------------------------------ */
.cctor-print-only .alignnone,
.cctor-alignnone,
.cctor_alignnone {
	display: inline-block;
	margin: 0 0 10px;
}

.cctor-print-only .cctor-alignleft,
.cctor-alignleft,
.cctor_alignleft {
	display: inline;
	float: left;
	margin: 0 10px 10px 0;
}

.cctor-print-only .aligncenter,
.cctor-aligncenter,
.cctor_alignright {
	display: inline;
	float: right;
	margin: 0 0 10px 10px;
}

.cctor-print-only .aligncenter,
.cctor-aligncenter,
.cctor_aligncenter {
	display: block;
	margin: 10px auto;
}