:root {
	/* -----------------------------------------------------------------------------
	 * Spacers
	 * ----------------------------------------------------------------------------- */

	--pngx-spacer-0: 4px;
	--pngx-spacer-1: 8px;
	--pngx-spacer-2: 12px;
	--pngx-spacer-3: 16px;
	--pngx-spacer-4: 20px;
	--pngx-spacer-5: 24px;
	--pngx-spacer-6: 28px;
	--pngx-spacer-7: 32px;
	--pngx-spacer-8: 40px;
	--pngx-spacer-9: 48px;
	--pngx-spacer-10: 56px;
	--pngx-spacer-11: 64px;
	--pngx-spacer-12: 80px;
	--pngx-spacer-13: 96px;
	--pngx-spacer-14: 160px;
}
