/* Utility CSS
------------------------------------------------------------ */
.cctor-clear {
	clear: both;
}

.cctor-screen-reader-text,
.cctor-pro-coupons-visuallyhidden {
	display: none;
}

.cctor-pro-overflow:after {
	clear: both;
	content: "";
	display: block;
}


@import "align";
@import "columns";
