/* Utility CSS
------------------------------------------------------------ */
.cctor-clear {
	clear: both;
}

.cctor-screen-reader-text,
.cctor-pro-coupons-visuallyhidden {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.cctor-pro-overflow:after {
	clear: both;
	content: "";
	display: block;
}


@import "align";
@import "columns";
