/*
	Coupon Creator Admin CSS

*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*@mixin junction() {
  font-family: "Junction", "Verdana", sans-serif;
  font-weight: 400;
}

@mixin junction-light() {
  font-family: "Junction", "Verdana", sans-serif;
  font-weight: 100;
}*/
/* ==========================================================================
   Tabs CSS
   ========================================================================== */
.cctor-woo-tabs.ui-tabs.ui-widget-content,
.cctor-tabs.ui-tabs.ui-widget-content {
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif; }

.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav {
  background: none;
  border: none;
  height: 100%;
  margin: 20px 0 -2px;
  padding: 0; }

.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li {
  display: block;
  float: left;
  margin: 0; }

.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-state-default,
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-state-active,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-state-default,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-state-active {
  background: none;
  border: none; }

.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li a,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li a {
  border-color: #fff;
  border-radius: 8px 8px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.5);
  color: #5C5C5C;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 6px 1px 0;
  padding: 4px 14px 6px;
  text-decoration: none;
  text-shadow: white 0 1px 0; }

.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-state-active a,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-state-active a {
  background: #fff;
  border-width: 1px 1px 0;
  box-shadow: 0 0 5px 0 #12446b;
  color: #2A5A8A; }

.coupon-section-fields {
  margin: 3px 0 0; }

.cctor-promo-boxes,
.cctor-woo-tabs-panel.ui-tabs-panel.ui-widget-content,
.cctor-tabs-panel.ui-tabs-panel.ui-widget-content {
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.5);
  clear: both;
  overflow: hidden;
  padding: 2%; }

.cctor-tabs-panel.ui-tabs-panel.ui-widget-content h3 {
  color: #2a5a8a;
  font: italic normal normal 24px/29px Georgia, Times, serif;
  line-height: 35px;
  margin: 0;
  padding: 0 0 5px;
  text-shadow: 0 1px 0 #fff; }

.cctor-promo-boxes h3,
.cctor-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
  color: #048c7f;
  font-size: 15px;
  font-weight: bold; }

.cctor_coupon_page_coupon-options .cctor-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
  margin: 0 0 0 -10px; }

@media screen and (max-width: 768px) {
  .cctor_coupon_page_coupon-options .cctor-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
    margin: 0 0 0 0px; } }

.cctor_coupon_page_coupon-options .cctor-tabs-panel.ui-tabs-panel.ui-widget-content .cctor-section-help-slideout h4 {
  margin: 0; }

.cctor-promo-boxes h3:after,
.cctor-tabs-panel.ui-tabs-panel.ui-widget-content h4:after {
  background: black;
  background: -moz-linear-gradient(left, black 1%, #9b9b9b 28%, white 85%);
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, black), color-stop(28%, #9b9b9b), color-stop(85%, white));
  background: -webkit-linear-gradient(left, black 1%, #9b9b9b 28%, white 85%);
  background: -o-linear-gradient(left, black 1%, #9b9b9b 28%, white 85%);
  background: -ms-linear-gradient(left, black 1%, #9b9b9b 28%, white 85%);
  background: linear-gradient(to right, black 1%, #9b9b9b 28%, white 85%);
  content: "";
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=1);
  height: 1px;
  margin-top: 10px; }

/* Responsive Tab Mode
------------------------------------------------------------ */
.cctor-tabs-nav-mobile,
.cctor-woo-tabs-nav-mobile {
  background: #fff;
  border-color: #fff;
  border-radius: 8px 8px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  box-shadow: 0 0 5px 0 #12446b;
  color: #2a5a8a;
  cursor: pointer;
  display: none;
  margin-bottom: 2px;
  padding: 3px 10px 8px; }

.cctor-woo-tabs-nav-mobile.show,
.cctor-tabs-nav-mobile.show {
  display: block; }

.cctor-woo-tabs-nav-mobile:after,
.cctor-tabs-nav-mobile:after {
  content: "?";
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 8px;
  z-index: 2; }

.ui-tabs .cctor-woo-tabs-nav.cctor_accordiantabs,
.ui-tabs .cctor-tabs-nav.cctor_accordiantabs {
  background: #fff;
  border-bottom: 0;
  display: none;
  height: auto;
  margin: 5px 0 15px; }

.cctor-woo-tabs-nav.cctor_accordiantabs li a.ui-tabs-anchor,
.cctor-tabs-nav.cctor_accordiantabs li a.ui-tabs-anchor {
  border: none;
  border-radius: 0;
  display: block;
  float: none;
  margin: 0;
  padding: 5px;
  position: relative; }

.cctor-woo-tabs-nav.cctor_accordiantabs li.ui-state-default,
.cctor-tabs-nav.cctor_accordiantabs li.ui-state-default {
  display: block;
  float: none; }

/* ==========================================================================
  jQuery UI CSS
   ========================================================================== */
/* ==========================================================================
  jQuery UI CSS
   ========================================================================== */
.ui-datepicker.cctor-ui,
.ui-dialog.cctor-ui {
  background: #fefefe;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 8px 0 -5px #eee, 0 8px 1px -4px rgba(0, 0, 0, 0.15), 0 14px 0 -8px #eee, 0 14px 1px -9px rgba(0, 0, 0, 0.15);
  height: 250px;
  padding: 10px;
  z-index: 101;
  /* The third layer shadow */ }

.ui-datepicker.cctor-ui {
  height: auto; }

.ui-datepicker.cctor-ui:after,
.ui-datepicker.cctor-ui:before,
.ui-dialog.cctor-ui:after,
.ui-dialog.cctor-ui:before {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  bottom: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10; }

.cctor-ui .ui-widget-header .ui-state-default.ui-dialog-titlebar-close,
.cctor-ui .ui-widget-header {
  background: none;
  border: none;
  color: #000;
  font-weight: bold; }

.cctor-ui .ui-widget-header .ui-icon {
  background-image: url("../images/ui-icons_2e83ff_256x240.png"); }

.ui-dialog.cctor-ui .ui-dialog-titlebar-close span.ui-icon-closethick {
  background-image: url("../images/ui-icons_2e83ff_256x240.png");
  margin-left: -3px;
  margin-top: -14px; }

.cctor-ui .ui-state-default, .cctor-ui.ui-widget-content .ui-state-default, .cctor-ui .ui-widget-header .ui-state-default {
  background: url("../images/ui-bg_flat_65_2a5a8a_40x100.png") repeat-x scroll 50% 50% #e6e6e6;
  border: 1px solid #d3d3d3;
  color: #fff;
  font-weight: normal; }

.cctor-ui .ui-state-hover, .cctor-ui.ui-widget-content .ui-state-hover, .cctor-ui .ui-widget-header .ui-state-hover, .cctor-ui .ui-state-focus, .cctor-ui.ui-widget-content .ui-state-focus, .cctor-ui .ui-widget-header .ui-state-focus {
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
  /* for IE8 in IE7 mode; must be before filter below */
  opacity: 0.7;
  /* IE6-IE8 */ }

.ui-dialog.cctor-ui .ui-dialog-content {
  overflow: hidden; }

.post-type-cctor_coupon .ui-widget-overlay {
  position: fixed; }

/* ==========================================================================
  Loading CSS
   ========================================================================== */
#cctor-loading {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  width: 100%;
  z-index: 4;
  webkit-transition: all 1s linear; }

#cctor-loading span {
  background: url(../images/cctor-loading.gif) 0 0 no-repeat;
  background-size: 32px 32px;
  height: 32px;
  left: 50%;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  width: 32px;
  -webkit-background-size: 32px 32px; }

/* ==========================================================================
   Messages CSS
   ========================================================================== */
.cctor-meta-bg {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 5px 0 15px;
  overflow: hidden;
  padding: 8px 12px; }

.success,
.cctor-message {
  border-left: 4px solid #048c7f;
  font-weight: bold; }

.cctor-error,
.cctor-error {
  border-left: 4px solid #dd3d36;
  color: #dd3d36; }

.success {
  padding: 1px 12px; }

.cctor-error {
  padding: 1px 12px; }

.cctor-error div,
.cctor-message div {
  float: left;
  padding: 0 2% 0 0;
  width: 48%; }

.cctor-meta-field.field-cctor_upgrade_to_pro {
  width: 100%; }

/* Pro Marketing
------------------------------------------------------------ */
.cctor-pro-img {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  height: auto;
  margin: 1% 0 2.5% 7%;
  max-width: 90%;
  position: relative; }

.cctor-pro-img:before, .cctor-pro-img:after {
  border-radius: 100px / 10px;
  -moz-border-radius: 100px / 10px;
  bottom: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: -1; }

.cctor-pro-img:after {
  left: auto;
  right: 10px;
  transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  -webkit-transform: skew(8deg) rotate(3deg); }

/* ==========================================================================
   Help CSS
   ========================================================================== */
.cctor-section-help-container {
  background-color: #2a5a8a;
  border-radius: 10px 10px 0;
  margin-bottom: 1em;
  overflow: hidden; }

.cctor_coupon_page_coupon-options .cctor-section-help-container {
  margin-left: -10px; }

@media screen and (max-width: 768px) {
  .cctor_coupon_page_coupon-options .cctor-section-help-container {
    margin-left: 0px; } }

.cctor-section-help-container-toggle {
  background-color: #2a5a8a;
  border: medium none;
  color: white;
  cursor: pointer;
  margin: 0;
  outline: medium none;
  padding: 0.5em;
  text-align: left;
  width: 100%; }

.cctor-section-help-container:hover,
.cctor-section-help-container-toggle:hover {
  background: #9dd3df none repeat scroll 0 0;
  border: 1px solid #2a5a8a;
  color: #000; }

.cctor-section-help-container-toggle .dashicons-before::before {
  margin-right: 5px; }

.cctor-section-help-container-toggle .toggle__arrow {
  text-decoration: none; }

.cctor-section-help-slideout {
  background-color: white;
  border: 1px solid #2a5a8a;
  border-bottom-left-radius: 10px;
  display: none;
  overflow: hidden;
  padding: 0.5em; }

.ui-widget-content a.cctor-support,
.cctor-support {
  color: #2a5a8a; }

.ui-widget-content a.cctor-support:hover,
.cctor-support:hover {
  color: #9DD3DF; }

.cctor-help-images {
  box-shadow: 0 1px 2px 0 #15796f;
  display: none;
  margin: 10px;
  max-width: 95%; }

.cctor-meta-field-content {
  width: 49%;
  display: inline-block;
  vertical-align: top; }

.cctor-meta-field-content.text {
  margin: 0 0 0 2%; }

.pro-help-sup {
  color: #950402; }

@media only screen and (max-width: 640px) {
  .cctor-meta-field-content,
  .cctor-meta-field-content.text {
    margin: 0;
    width: 100%; } }

/* ==========================================================================
  Tooltips CSS
   ========================================================================== */
.cctor-tooltip {
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative; }

.cctor-tooltip .cctor-tooltiptext {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  left: 50%;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 100%;
  visibility: hidden;
  width: 120px;
  z-index: 1; }

.cctor-tooltip:hover .cctor-tooltiptext {
  visibility: visible; }

/* ==========================================================================
  Quick and Bulk Edit CSS
   ========================================================================== */
.inline-edit-row fieldset label.coupon-quick-edit {
  margin: 1em 0; }

.inline-edit-row fieldset label.coupon-quick-edit span.title {
  width: 12em; }

.inline-edit-row fieldset label.coupon-quick-edit.cctor_save_change_views label {
  display: inline;
  margin: 0; }

#wpbody-content #bulk-edit.bulk-edit-row .inline-edit-col-left.coupon-bulk-col {
  width: 30%; }

#wpbody-content #bulk-edit.bulk-edit-row fieldset.inline-edit-col-left.coupon-bulk-col .inline-edit-group label {
  max-width: 100%; }

#wpbody-content #bulk-edit.bulk-edit-row fieldset.inline-edit-col-left.coupon-bulk-col .inline-edit-group label select {
  max-width: 185px;
  width: 100%; }

/* ==========================================================================
   Meta Box CSS
   ========================================================================== */
#coupon_creator_pro_meta_box h3,
#cctor_coupon_categorydiv h3,
#coupon_creator_shortcode h3,
#coupon_creator_meta_box h3 {
  color: #2a5a8a;
  font: italic 20px/30px Georgia, Times, serif;
  margin: 0;
  padding: 0 0 5px 10px;
  text-shadow: 0 1px 0 #fff; }

.postbox h4.coupon-heading:after {
  background: linear-gradient(to right, black 1%, #9b9b9b 28%, white 85%) repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1px;
  margin-top: 10px; }

.postbox h4.coupon-heading {
  color: #048c7f;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 10px; }

.cctor_coupon_image.cctor_coupon_box_img,
.cctor_coupon_box {
  border: 1px solid #dbdbdb;
  font-size: 16px;
  height: auto;
  padding: 20px 5px;
  text-align: center;
  width: 200px; }

#image_coupon .cctor_coupon_image.cctor_coupon_box_img,
#image_coupon .cctor_coupon_box {
  border: 3px dashed #000000; }

.cctor_coupon_image.cctor_coupon_box_img {
  max-width: 400px;
  width: auto; }

.cctor-meta-field-wrap {
  margin: 10px 0;
  overflow: hidden; }

.cctor-meta-field,
.cctor-meta-label {
  float: left;
  overflow: hidden; }

.cctor-meta-label {
  width: 30%; }

.cctor-meta-field {
  width: 70%; }

.cctor-meta-field textarea,
.cctor-meta-field.field-wysiwyg {
  width: 100%; }

.field-wrap-cctor_videos .cctor-meta-label,
.field-wrap-cctor_videos .cctor-meta-field {
  width: 100%; }

.wp-admin.post-type-cctor_coupon .wrap h3,
.wp-admin.post-type-cctor_coupon.wrap table,
.cctor-js .javascript-conflict,
#wp-cctor_description-media-buttons a:not(:first-child) {
  display: none; }

/* Coupon Editor
------------------------------------------------------------ */
.cctor-column-row-insert,
#wp-cctor_description-wrap {
  width: 600px;
  max-width: 100%;
  overflow: hidden; }

.cctor-column-row-insert {
  margin: 15px 0; }

.cctor-column-row-insert .cctor-content-column-row {
  width: 46%;
  float: left; }

.cctor_button {
  border-radius: 6px;
  border: solid 1px #9dd3df;
  background: #2a5a8a;
  padding: 3px 1%;
  text-decoration: none;
  color: #fff;
  text-align: center; }

.ui-widget-content a.cctor_button {
  color: #fff; }

.cctor_button:hover,
.ui-widget-content a.cctor_button:hover {
  color: #000;
  border: solid 1px #2a5a8a;
  background: #9dd3df; }

.cctor-column-row-insert select {
  width: 48%;
  float: right; }

/* WooCommerce
------------------------------------------------------------ */
.field-wrap-woocoupon .cctor-meta-label,
.field-wrap-woocoupon .cctor-meta-field {
  width: 100%; }

.ajax_chosen_select_products_and_variations.cctor_woo_field {
  width: 50%; }

.cctor-woo-send-buttons {
  margin-bottom: 15px; }

#cctor_woocommerce hr,
#cctor_woocommerce h3,
.postbox #cctor_woocommerce h4.coupon-heading {
  color: #a46497; }

#cctor_woo_options textarea {
  width: 100%; }

#cctor_woo_submit {
  margin-top: 30px; }

#cctor_woocommerce label {
  width: 130px;
  display: inline-block; }

#cctor_woocommerce .form-field input[type="email"],
#cctor_woocommerce .form-field input[type="number"],
#cctor_woocommerce .form-field input[type="text"] {
  width: 230px;
  max-width: 80%; }

#cctor_woocommerce .form-field .chosen-container-multi input[type="text"] {
  max-width: 100%;
  min-width: 100px; }

#cctor_woocommerce .select2-container.cctor_woo_field {
  width: 50%;
  display: inline-block !important; }

/* ==========================================================================
   Options CSS
   ========================================================================== */
.cctor_coupon_page_coupon-options input.regular-text {
  width: auto; }

.cctor_coupon_page_coupon-options p.submit {
  overflow: hidden; }

.cctor_coupon_page_coupon-options.wp-core-ui .button-primary {
  float: right; }

/*hides empty row and support label*/
#help .form-table th,
.form-table tr > *:empty {
  display: none; }

/* License Button
------------------------------------------------------------ */
.cctor-license-button-act {
  background: #2a5a8a;
  border: 1px solid #2a5a8a;
  color: #fff; }

.cctor-license-button-act:hover {
  background: #1e4164;
  cursor: pointer; }

.cctor-license-button-det {
  background: #048c7f;
  border: 1px solid #048c7f;
  color: #fff; }

.cctor-license-button-det:hover {
  background: #2a5a8a;
  cursor: pointer; }

/* Options Sign Up Form / Promo Boxes
----------------------------------------------------------- */
#pro.cctor-tabs-panel h3:first-child {
  display: none !important; }

#pro.cctor-tabs-panel ul {
  list-style-type: disc; }

#pro.cctor-tabs-panel li {
  font-size: 14px;
  margin-left: 20px;
  padding-left: 5px; }

.cctor-promo-boxes {
  clear: none;
  float: left;
  margin: 0 1%;
  overflow: hidden;
  width: 44%; }

.cctor_coupon_page_coupon-options #mc_embed_signup h3 {
  margin: 0 0 10px; }

.mc-field-group {
  float: left;
  width: 192px; }

#mc-embedded-subscribe {
  background: #950402;
  border: 1px solid #dd3d36;
  box-shadow: none;
  color: #fff;
  float: left;
  font-weight: 700; }

#mc-embedded-subscribe:hover {
  background: #dd3d36; }

@media only screen and (max-width: 640px) {
  .cctor-promo-boxes h3,
  .cctor-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
    margin: 0; }
  .cctor-promo-boxes {
    width: 94%;
    float: none;
    margin: 2% 1%; } }

/* Pro CSS
----------------------------------------------------------- */
.cctor_coupon_image.cctor_coupon_box_img,
.cctor_coupon_box {
  width: 200px;
  height: auto;
  padding: 20px 5px;
  border: 1px solid #dbdbdb;
  text-align: center;
  font-size: 16px; }

.create-shortcode {
  display: inline-block;
  margin: 10px 0;
  padding: 3px 5px; }
