/*
* Coupon Creator CSS
* @version 1.90
*/
/* Utility CSS
------------------------------------------------------------ */
.cctor-clear {
	clear: both;
}

.cctor-pro-coupons-visuallyhidden {
	display: none;
}

.cctor-pro-overflow:after {
	clear: both;
	content: "";
	display: block;
}

/* Coupon Creator CSS
------------------------------------------------------------ */
.cctor_coupon_container {
	margin: 10px 10px 15px;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	width: 317px;
}

.cctor_coupon_container.cctor-image {
	width: auto;
}

.cctor_coupon_container, .cctor_coupon_container * {
	box-sizing: border-box; /* Firefox 1 */
	-moz-box-sizing: border-box; /* Safari 3-4 */
	-webkit-box-sizing: border-box; /* Everything else */
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

/* Standard CSS
------------------------------------------------------------ */
.cctor-wrap-link,
.cctor_wrap_link {
	text-decoration: none;
}

.coupon-inline-fields {
	display: inline-block;
	vertical-align: top;
	width: auto;
}

.coupon-text-left {
	text-align: left;
}

.coupon-text-center {
	text-align: center;
}

.coupon-text-right {
	text-align: right;
}

.coupon-overflow {
	overflow: hidden;
}

/* Coupon Contents
------------------------------------------------------------ */
.cctor-coupon,
.cctor_coupon {
	padding: 5px;
	width: 100%;
}

.coupon-border .cctor-coupon,
.coupon-border .cctor_coupon {
	border: 3px dashed black;
}

.cctor-coupon-image,
.cctor_coupon_image {
	border: 3px dashed black;
	height: auto;
	max-width: 100%;
	padding: 1%;
}

.cctor-coupon-content,
.cctor_coupon_content {
	background: #fff;
	border: 2px solid #0030ff;
	position: relative;
	width: 100%;
}

.cctor-deal,
.cctor_deal {
	background: #ffa300;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	min-height: 45px;
	padding: 2%;
	width: 100%;
}

.cctor-terms,
.cctor_terms {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2;
	min-height: 90px;
	overflow: hidden;
	padding: 2% 3%;
	width: 100%;
}

.cctor-terms img,
.cctor_terms img {
	height: auto;
	max-width: 100%;
}

.cctor-expiration,
.cctor_expiration {
	font-size: 10px;
	font-weight: bold;
	min-height: 15px;
	width: 100%;
}

.cctor_opencoupon {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-top: 2px;
	width: 100%;
}

/* Coupon CSS Adjustments
------------------------------------------------------------ */
.cctor_coupon_container a:hover {
	opacity: .8;
	text-decoration: none;
}

.print_coupon .cctor_coupon_container a:hover {
	opacity: 1;
}

a .cctor_expiration {
	color: #000;
}

.cctor-terms p,
.cctor_terms p {
	margin: 0;
}

/* Coupon Align
------------------------------------------------------------ */
.cctor_alignnone {
	display: inline-block;
	margin: 0 0 10px;
}

.cctor_alignleft {
	display: inline;
	float: left;
	margin: 0 10px 10px 0;
}

.cctor_alignright {
	display: inline;
	float: right;
	margin: 0 0 10px 10px;
}

.cctor_aligncenter {
	display: block;
	margin: 10px auto;
}

/* Print View CSS
------------------------------------------------------------ */
.print_coupon .cctor_coupon_container {
	margin: 10px auto;
	width: 420px;
}

.print_coupon .cctor_coupon_container.cctor-image {
	width: auto;
}

.print_coupon .cctor_coupon_content h3 {
	font-size: 30px;
}

.print_coupon .cctor-terms,
.print_coupon .cctor_terms {
	font-size: 20px;
	line-height: 1.2;
	min-height: 150px;
}

@media print {
	.cctor_opencoupon {
		display: none !important;
	}
}

/* Colorbox CSS
------------------------------------------------------------ */

.cctor-overlay #cboxPrevious,
.cctor-overlay #cboxNext,
.cctor-overlay #cboxClose {
	font-size: 22px;
	line-height: 25px;
}

.cctor-overlay #cboxNext {
	left: 16px;
}

.cctor-overlay #cboxCurrent {
	left: 35px;
}

/* Float Clear
------------------------------------------------------------ */
.cctor-clear:after {
	display: table;
	content: '';
	clear: both;
}


/* Basic IE7 Support
------------------------------------------------------------ */
.cctor_coupon {
	*width: 300px;
}

.cctor_coupon_content h3,
.cctor-terms,
.cctor_terms,
.cctor_expiration {
	*width: 96%;
}