/*
	Coupon Creator CSS

*/
/*
 * Utilities CSS
 * -------------------------------------------------------------
 */
/*
 * Pngx Color Variables.
 * -------------------------------------------------------------
 */
:root {
  /* -----------------------------------------------------------------------------
   * Colors - Utilties
   * ----------------------------------------------------------------------------- */
  --pngx-white: #fff;
  --pngx-grey-1: #FAFAFA;
  --pngx-grey-2: #F5F5F5;
  --pngx-grey-3: #EEEEEE;
  --pngx-grey-4: #E0E0E0;
  --pngx-grey-5: #BDBDBD;
  --pngx-grey-6: #9E9E9E;
  --pngx-grey-7: #757575;
  --pngx-grey-8: #616161;
  --pngx-grey-9: #424242;
  --pngx-grey-10: #212121;
  --pngx-black: #000;
  --pngx-error: #dd3d36;
  --pngx-success: #3ca900;
  --pngx-dark-red: #950402;
  --pngx-blue: #2A5A8A;
  /* -----------------------------------------------------------------------------
   * Colors - Typography
   * ----------------------------------------------------------------------------- */
  --pngx-color-text-primary: #1f0808;
  --pngx-color-text-primary-light: rgba(30, 5, 5, 0.62);
  --pngx-color-text-secondary: #605c5c;
  --pngx-color-text-disabled: #c2c2c2;
  /* -----------------------------------------------------------------------------
   * Colors - Backgrounds
   * ----------------------------------------------------------------------------- */
  --pngx-color-background: #ffffff;
  --pngx-color-background-secondary: #e4eeec;
  --pngx-color-background-grey: rgb(249 250 251);
  /* -----------------------------------------------------------------------------
   * Colors - UI Base
   * ----------------------------------------------------------------------------- */
  --pngx-color-accent-primary: #2271b1;
  --pngx-color-accent-primary-hover: rgba(34, 113, 177, 0.81);
  /* -----------------------------------------------------------------------------
   * Colors - Shadows
   * ----------------------------------------------------------------------------- */
  --pngx-color-shadow-primary: rgba(0, 0, 0, 0.8);
  /* -----------------------------------------------------------------------------
   * Colors - Borders
   * ----------------------------------------------------------------------------- */
  --pngx-color-border-default: #d5d5d5;
  --pngx-color-border-primary: #1b700c;
  /* -----------------------------------------------------------------------------
   * Colors - Buttons
   * ----------------------------------------------------------------------------- */
  --pngx-color-button-primary: var(--pngx-color-accent-primary);
  --pngx-color-button-primary-hover: var(--pngx-color-accent-primary-hover);
  /* -----------------------------------------------------------------------------
   * Colors - Shadows
   * ----------------------------------------------------------------------------- */
  --pngx-ring-offset-shadow: 0 0 #0000;
  --pngx-ring-shadow: 0 0 #0000;
  --pngx-shadow: 0 0 #0000;
  /* -----------------------------------------------------------------------------
   * Opacity - Shadows
   * ----------------------------------------------------------------------------- */
  --pngx-defualt-opacity: 1;
  --pngx-disable-opacity: .4;
}

:root {
  /* -----------------------------------------------------------------------------
   * Spacers
   * ----------------------------------------------------------------------------- */
  --pngx-spacer-0: 4px;
  --pngx-spacer-1: 8px;
  --pngx-spacer-2: 12px;
  --pngx-spacer-3: 16px;
  --pngx-spacer-4: 20px;
  --pngx-spacer-5: 24px;
  --pngx-spacer-6: 28px;
  --pngx-spacer-7: 32px;
  --pngx-spacer-8: 40px;
  --pngx-spacer-9: 48px;
  --pngx-spacer-10: 56px;
  --pngx-spacer-11: 64px;
  --pngx-spacer-12: 80px;
  --pngx-spacer-13: 96px;
  --pngx-spacer-14: 160px;
}

/**
 * Removes the unit (e.g. px, em, rem) from a value, returning the number only.
 * @param {Number} $num - Number to strip unit from.
 * @returns {Number} The same number, sans unit.
 */
/**
 * Convert a pixel value to rem.
 * @param {Number} $px - The pixel value to convert.
 * @param {Number} $base - The base font size to use.
 * @return {Number} - The rem value.
 */
/** Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value. By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
 * @access private
 * @param {Number} $value - Pixel value to convert.
 * @param {Number} $base [null] - Base for pixel conversion.
 * @returns {Number} A number in rems, calculated based on the given value and the base pixel value. rem values are passed through as is.
 */
/* Coupon Creator CSS
------------------------------------------------------------ */
.cctor-coupon-container,
.cctor_coupon_container {
  margin: 10px 10px 15px;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  width: 317px;
}

.cctor-coupon-container.cctor-image,
.cctor_coupon_container.cctor-image {
  width: auto;
}

.cctor-coupon-container, .cctor-coupon-container *,
.cctor_coupon_container, .cctor_coupon_container * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

/* Standard CSS
------------------------------------------------------------ */
.cctor-wrap-link,
.cctor_wrap_link {
  text-decoration: none;
}

.coupon-inline-fields {
  display: inline-block;
  vertical-align: top;
  width: auto;
}

.coupon-text-left {
  text-align: left;
}

.coupon-text-center {
  text-align: center;
}

.coupon-text-right {
  text-align: right;
}

.coupon-overflow {
  overflow: hidden;
}

/* Coupon Contents
------------------------------------------------------------ */
.cctor-coupon,
.cctor_coupon {
  padding: 5px;
  width: 100%;
}

.cctor-coupon-image,
.cctor_coupon_image {
  height: auto;
  max-width: 100%;
  padding: 1%;
}

.sawtooth-border .cctor-coupon-image,
.coupon-border .cctor-coupon-image,
.coupon-border .cctor-coupon,
.sawtooth-border .cctor_coupon_image,
.coupon-border .cctor_coupon_image,
.coupon-border .cctor_coupon {
  border: 3px dashed black;
}

.stitched-border .cctor-coupon-image,
.stitched-border .cctor-coupon,
.stitched-border .cctor_coupon_image,
.stitched-border .cctor_coupon {
  outline: 1px dashed #000000;
  outline-offset: -3px;
  padding: 6px;
}

.dotted-border .cctor-coupon-image,
.dotted-border .cctor-coupon,
.dotted-border .cctor_coupon_image,
.dotted-border .cctor_coupon {
  border: 2px dotted #000000;
  padding: 2px;
}

.sawtooth-border .cctor-coupon,
.sawtooth-border .cctor_coupon {
  position: relative;
}

.sawtooth-border .sawtooth-top-bottom {
  background: linear-gradient(135deg, transparent 75%, #000000 75%) 0 0, linear-gradient(-135deg, transparent 75%, #000000 75%) 0 0, linear-gradient(-45deg, transparent 75%, #000000 75%) 100% 100%, linear-gradient(45deg, transparent 75%, #000000 75%) 100% 100%;
  background: -webkit-linear-gradient(-135deg, transparent 75%, #000000 75%) 0 0, -webkit-linear-gradient(-45deg, transparent 75%, #000000 75%) 0 0, -webkit-linear-gradient(135deg, transparent 75%, #000000 75%) 0 100%, -webkit-linear-gradient(45deg, transparent 75%, #000000 75%) 0 100%;
  background-repeat: repeat-x;
  background-size: 8px 5px, 8px 5px;
  bottom: 0;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 0;
}

.sawtooth-border .sawtooth-left-right {
  background: linear-gradient(45deg, transparent 75%, #000000 75%) 0 50%, linear-gradient(135deg, transparent 75%, #000000 75%) 0 50%, linear-gradient(-45deg, transparent 75%, #000000 75%) 100% 50%, linear-gradient(-135deg, transparent 75%, #000000 75%) 100% 50%;
  background: -webkit-linear-gradient(45deg, transparent 75%, #000000 75%) 0 50%, -webkit-linear-gradient(-45deg, transparent 75%, #000000 75%) 0 50%, -webkit-linear-gradient(135deg, transparent 75%, #000000 75%) 100% 50%, -webkit-linear-gradient(-135deg, transparent 75%, #000000 75%) 100% 50%;
  background-repeat: repeat-y;
  background-size: 7px 8px, 7px 8px;
  border: none;
  padding: 0 7px;
}

.cctor-coupon-content,
.cctor_coupon_content {
  background: #fff;
  border: 2px solid #0030ff;
  position: relative;
  width: 100%;
}

.cctor-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  min-height: 45px;
  padding: 2%;
}

.cctor-deal,
.cctor_deal {
  background: #ffa300;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  min-height: 45px;
  padding: 2%;
  width: 100%;
}

.main-coupon-content,
.cctor-terms,
.cctor_terms {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  min-height: 90px;
  overflow: hidden;
  padding: 2% 3%;
  width: 100%;
}

.main-coupon-content .wp-caption,
.main-coupon-content img,
.cctor-terms .wp-caption,
.cctor_terms .wp-caption,
.cctor-terms img,
.cctor_terms img {
  height: auto;
  max-width: 100%;
}

.cctor-expiration,
.cctor_expiration {
  font-size: 10px;
  font-weight: bold;
  min-height: 15px;
  width: 100%;
}

.cctor-expiration,
.cctor_expiration {
  padding: 0 2%;
}

.cctor-opencoupon,
.cctor_opencoupon {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
  width: 100%;
}

/* Coupon CSS Adjustments
------------------------------------------------------------ */
.cctor_coupon_container a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.print_coupon .cctor_coupon_container a:hover {
  opacity: 1;
}

a .cctor_expiration {
  color: #000;
}

.main-coupon-content p,
.cctor_terms p {
  margin: 0;
}

/* Print View CSS
------------------------------------------------------------ */
.print-coupon .cctor-oupon-container,
.print_coupon .cctor_coupon_container {
  margin: 10px auto;
  width: 420px;
}

.print-coupon .cctor-coupon-container.cctor-image,
.print_coupon .cctor_coupon_container.cctor-image {
  width: auto;
}

.print-coupon .sawtooth-border .cctor-coupon .sawtooth-top-bottom,
.print_coupon .sawtooth-border .cctor_coupon .sawtooth-top-bottom {
  left: 12px;
  right: 12px;
}

.print-coupon .cctor-coupon-content h3,
.print_coupon .cctor_coupon_content h3 {
  font-size: 30px;
}

.print-coupon .main-coupon-content,
.print-coupon .cctor-terms,
.print_coupon .cctor_terms {
  font-size: 20px;
  line-height: 1.2;
  min-height: 150px;
}

@media print {
  .cctor-opencoupon,
  .cctor_opencoupon {
    display: none !important;
  }
}
/* Utility CSS
------------------------------------------------------------ */
.cctor-clear {
  clear: both;
}

.pngx-a11y-hidden {
  display: none !important;
  visibility: hidden;
}

.cctor-screen-reader-text,
.cctor-pro-coupons-visuallyhidden {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.cctor-pro-overflow:after {
  clear: both;
  content: "";
  display: block;
}

/* Coupon Align
------------------------------------------------------------ */
.cctor-alignnone,
.cctor_alignnone {
  display: inline-block;
  margin: 0 0 10px;
}

.cctor-alignleft,
.cctor_alignleft {
  display: inline;
  float: left;
  margin: 0 10px 10px 0;
}

.cctor-alignright,
.cctor_alignright {
  display: inline;
  float: right;
  margin: 0 0 10px 10px;
}

.cctor-aligncenter,
.cctor_aligncenter {
  display: block;
  margin: 10px auto;
}

/* Column Classes
* Modified from these links:
* Link: http://wpsmith.net/2013/wp/genesis-2-0-drops-fifths-from-column-classes/
* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
.cctor-row {
  min-height: 1px;
  width: 100%;
}

.cctor-one-fourth,
.cctor-one-half,
.cctor-one-third,
.cctor-one-fifth,
.cctor-three-fourths,
.cctor-three-fifths,
.cctor-two-fifths,
.cctor-two-fourths,
.cctor-two-thirds {
  float: left;
  margin-left: 2.5641025641%;
  min-height: 1px;
}

.cctor-one-half,
.cctor-two-fourths {
  width: 48.7179487179%;
}

.cctor-one-third {
  width: 31.6239316239%;
}

.cctor-two-thirds {
  width: 65.811965812%;
}

.cctor-one-fourth {
  width: 23.0769230769%;
}

.cctor-three-fourths {
  width: 74.358974359%;
}

.cctor-two-fifths {
  width: 38.4615384615%;
}

.cctor-one-fifth {
  width: 17.9487179487%;
}

.cctor-three-fifths {
  width: 58.9743589744%;
}

.cctor-first {
  clear: both;
  margin-left: 0;
}

/* Float Clear
------------------------------------------------------------ */
.cctor-clear:after {
  clear: both;
  content: "";
  display: table;
}

/* Basic IE7 Support
------------------------------------------------------------ */
.cctor_coupon {
  *width: 300px;
}

.cctor_coupon_content h3,
.main-coupon-content,
.cctor-terms,
.cctor_terms,
.cctor_expiration {
  *width: 96%;
}

/*
 * Plugin Engine Loader CSS
 * -------------------------------------------------------------
 */
.cctor-pro-coupon-default-wrapper {
  position: relative;
}
.cctor-pro-coupon-default-wrapper .pngx-loader {
  align-items: start;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 0;
  padding-top: 192px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot {
  width: 15px;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot:not(:first-of-type) {
  margin-left: 8px;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot circle {
  fill: currentColor;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot circle {
  animation-direction: normal;
  animation-duration: 2.24s;
  animation-iteration-count: infinite;
  animation-name: pngx-loader-bounce;
  fill: #950402;
  opacity: 0.3;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot--first circle {
  animation-delay: 0.45s;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot--second circle {
  animation-delay: 1.05s;
}
.cctor-pro-coupon-default-wrapper .pngx-loader__dot--third circle {
  animation-delay: 1.35s;
}
@keyframes pngx-loader-bounce {
  50% {
    opacity: 1;
  }
}