// Bourbon and Neat mixins and grid system
@import "bourbon/app/assets/stylesheets/bourbon";
@import "../grid-settings";
@import "neat/app/assets/stylesheets/neat";
@import "font-kit";

@mixin header-background($color) {
  background-color: $color;
  background-image: url('images/grid-transparent-overlay.png');
}

@mixin mission-gradient() {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 73%, rgba(224,224,224,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(73%, rgba(246,246,246,1)), color-stop(100%, rgba(224,224,224,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 73%, rgba(224,224,224,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 73%, rgba(224,224,224,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 73%, rgba(224,224,224,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 73%, rgba(224,224,224,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0 );
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin inline_align {
  display: inline-block;
  *display: inline;
  position: relative;
  vertical-align: top;
  zoom: 1;
}