/*
* Coupon Creator Meta CSS
* @version 1.90
*/
#coupon_creator_pro_meta_box h3,
#cctor_coupon_categorydiv h3,
#coupon_creator_shortcode h3,
#coupon_creator_meta_box h3 {
    color: #2a5a8a;
    font: italic 20px/30px Georgia,Times,serif;
    margin: 0;
    padding: 0 0 5px 10px;
    text-shadow: 0 1px 0 #fff;
}

.postbox h4.coupon-heading:after {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(155, 155, 155, 1) 28%, rgba(255, 255, 255, 1) 85%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 1px;
    margin-top: 10px;
}
.postbox h4.coupon-heading {
    color: #048c7f;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
}

.cctor_coupon_image.cctor_coupon_box_img,
.cctor_coupon_box {
	width: 200px;
	height: auto;
	padding: 20px 5px;
	border: 1px solid #dbdbdb;
	text-align: center;
	font-size: 16px;
}
#image_coupon .cctor_coupon_image.cctor_coupon_box_img,
#image_coupon .cctor_coupon_box {
	border: 3px dashed #000000;
}
.cctor_coupon_image.cctor_coupon_box_img {
	width: auto;
	max-width: 400px;
}
.cctor-meta-field-wrap {
	overflow:hidden;
	margin: 10px 0;
}
.cctor-meta-field,
.cctor-meta-label  {
	overflow:hidden;
	float:left;
}
.cctor-meta-label {
	width:30%;
}
.cctor-meta-field {
	width:70%;
}
.field-wrap-cctor_videos .cctor-meta-label,
.field-wrap-cctor_videos .cctor-meta-field {
	width:100%;
}
#wp-cctor_description-media-buttons a:not(:first-child){
	display:none;
}

.cctor-meta-bg {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 12px;
	margin: 5px 0 15px;
	overflow:hidden;
}

.cctor-message  {
    border-left: 4px solid #048c7f;
	font-weight: bold;
}
.cctor-message  div {
	width: 33%;
	float:left;
}
.cctor-error {
    border-left: 4px solid #dd3d36;
    color: red;
    font-weight: bold;
}
.ui-widget-content a.cctor-support,
.cctor-support {
	color:#2a5a8a;
}
.ui-widget-content a.cctor-support:hover,
.cctor-support:hover {
	color:#9DD3DF;
}

/* Coupon Creator jQuery Tabs
------------------------------------------------------------ */
.cctor-woo-tabs.ui-tabs.ui-widget-content,
.cctor-tabs.ui-tabs.ui-widget-content {
    background: none;
    border: none;
	font-family: "Open Sans",sans-serif;
}

.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav {
	height: 27px;
	margin: 20px 0 0;
	padding: 0;
	background: none;
	border: none;
}
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li {
	display: block;
	float: left;
	margin: 0;
}
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-state-default,
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-state-active,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-state-default,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-state-active  {
    background: none;
    border: none;
}
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li a,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li a {
	border-color: #fff;
	border-style: solid;
	border-width: 1px 1px 0;
	color: #5C5C5C;
	text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
	display: inline-block;
	padding: 4px 14px 6px;
	text-decoration: none;
	margin: 0 6px -1px 0;
	border-radius: 8px 8px 0 0;
	font-weight: bold;
	font-size: 13px;
	box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.5);
}
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .cctor-woo-tabs-nav.ui-tabs-nav li.ui-state-active a,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .cctor-tabs-nav.ui-tabs-nav li.ui-state-active a {
	border-width: 1px 1px 0;
	color: #2A5A8A;
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(18, 68, 107, 1.0);
}

.coupon-section-fields {
	margin: 3px 0 0;
}
.cctor-woo-tabs-panel.ui-tabs-panel.ui-widget-content,
.cctor-tabs-panel.ui-tabs-panel.ui-widget-content{
	clear: both;
	background: #fff;
	padding: 2%;
	box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.5);
	overflow:hidden;
}

/* Coupon Creator jQuery UI Changes
------------------------------------------------------------ */
.ui-datepicker.cctor-ui,
.ui-dialog.cctor-ui {
    background: #fefefe;
    border: 1px solid #ccc;
	padding: 10px;
    height: 250px;
	z-index:101;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
	box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 8px 0 -5px #eee, /* The second layer */
        0 8px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 14px 0 -8px #eee, /* The third layer */
        0 14px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}
.ui-datepicker.cctor-ui {
	height: auto;
}
.ui-datepicker.cctor-ui:after,
.ui-datepicker.cctor-ui:before,
.ui-dialog.cctor-ui:after,
.ui-dialog.cctor-ui:before {
    bottom: 0;
	top: 0;
	right: 0;
	left: 0;
    content: '';
    position: absolute;
	z-index: -10;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
       -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
            box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.cctor-ui .ui-widget-header .ui-state-default.ui-dialog-titlebar-close,
.cctor-ui .ui-widget-header {
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
} 
.cctor-ui .ui-widget-header .ui-icon {
	background-image: url("../images/ui-icons_2e83ff_256x240.png");
}	
.ui-dialog.cctor-ui .ui-dialog-titlebar-close span.ui-icon-closethick {
    margin-left: -3px;
    margin-top: -14px;
    background-image: url("../images/ui-icons_2e83ff_256x240.png");
}

.cctor-ui .ui-state-default, .cctor-ui.ui-widget-content .ui-state-default, .cctor-ui .ui-widget-header .ui-state-default {
    background: url("../images/ui-bg_flat_65_2a5a8a_40x100.png") repeat-x scroll 50% 50% #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #fff;
    font-weight: normal;
}
.cctor-ui  .ui-state-hover, .cctor-ui.ui-widget-content .ui-state-hover, .cctor-ui  .ui-widget-header .ui-state-hover, .cctor-ui  .ui-state-focus, .cctor-ui.ui-widget-content .ui-state-focus, .cctor-ui .ui-widget-header .ui-state-focus {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* for IE8 in IE7 mode; must be before filter below */
	filter: alpha(opacity=70); /* IE6-IE8 */
}

/* Coupon Creator Loading
------------------------------------------------------------ */

#cctor-loading {
	display           : none;
	position          : absolute;
	width             : 100%;
	height            : 100%;
	left              : 0;
	top               : 0;
	background        : #fff;
	background        : rgba(255, 255, 255, 0.8);
	z-index           : 4;
	webkit-transition : all 1s linear;
	-moz-transition   : all 1s linear;
	-o-transition     : all 1s linear;
	-ms-transition    : all 1s linear;
	transition        : all 1s linear;
}

#cctor-loading span {
	position   : absolute;
	width      : 32px;
	height     : 32px;
	left       : 50%;
	top        : 50%;
	margin     : -16px 0 0 -16px;
	background : url(../images/cctor-loading.gif) 0 0 no-repeat;
	-webkit-background-size: 32px 32px;
			background-size: 32px 32px;
}